* {
    padding: 0;
    margin: 0;
}
body {
  background-color:#ff8080 ;
  font-family: 'Lora', serif;
  color: black;
  }
h1 {
  color: black;
  font-family: 'Lora', serif;
  font-size: 50px; 
    padding-left: 5px;
  }
img{
  
  width:500px;
  }

strong1{
  size:300%;
  
}
*{
    text-align: justify;  
}
h3{
    padding-left: 10px;
    padding-right: 5px;
}
nav ul {
  background-color: pink;
  border-style: solid;
  border-color: saddlebrown;
  border-width: 2px;
  padding: 15px;
  /*border-radius: 10px;*/
}
nav ul li {
  list-style-type: none;
  display: inline;
  margin-right: 10px;
  margin-left: 10px;
}
nav ul li a {
  text-decoration: none;
  color: darkslateblue;
}
.center {
    display: block;
    margin-left:auto;
    margin-right:auto;
    width: 25%;  
}
h2{
    text-align-last: center;
    color: pink;
    background-color: black
}
.center2 {
    display: block;
    margin-left:auto;
    margin-right:auto;
    width: 50rems;
    padding: 15px;
    height: 40rems;
}
.center3{
    width: 50rems;
    padding: 15px;
    height: 40rems; 
}
p1  {
     padding-left: 10px;
    padding-right: 5px;
    font-size: 1.1rem;
}
